
<h1>The Houses</h1>
<h1><a href="/houses/new"> Add New House </a></h1>
<hr>
<% @houses.each do |house| %>
 <div class="house">
   <h2><%= link_to house.name, house %></h2>
   <img src="<%= house.img_url %>"/>
   <h2>"<%= house.motto %>"</h2>
 </div>

<% end %>
